<!DOCTYPE html>
<html>
<head>
<title>Rupesh Architects</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>RUPESH</b> Architects</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="https://wallpapercave.com/wp/wp3049340.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Rupesh</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
        <img src="http://www.caandesign.com/wp-content/uploads/2015/06/Trend-Summer-House-02.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
        <img src="https://i.pinimg.com/736x/48/0c/dd/480cdd050b47e7ef4a696a97ac31e0d8.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img src="https://4.bp.blogspot.com/-ChI2sIpv5bU/Uhh1bszAUsI/AAAAAAAAe18/hWT01EXog2Y/s1600/renovation-rendering-home.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
        <img src="http://www.contemporist.com/wp-content/uploads/2018/03/modern-wood-building-architecture-with-shutters-070318-1227-01-800x533.jpg" alt="House" style="width:100%">
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
        <img src="http://1.bp.blogspot.com/-euzguOOCKDs/UhPjEPMEjfI/AAAAAAAAXnc/O8mTYOWQps8/s1600/Modern_Beach_House_With_Minimalist_Interior_Design_in_sweden_on_world_of_architecture_01.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
        <img src="https://image.shutterstock.com/image-vector/brick-house-facade-exterior-front-260nw-1722460714.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img src="https://i.pinimg.com/736x/61/f1/01/61f101c5918a618d6d9e9afeaebb5c47.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
        <img src="https://assets.architecturaldigest.in/photos/60083e77e6e1f64740189285/master/pass/Sweden-home-design-architecture-photos-1366x768.jpg" alt="House" style="width:99%">
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>We're well equipped to handle today's planning and design challenges, whether the project is Educational, Corporate, Process/Industrial, Municipal or Governmental in nature. It's our duty as a pioneering architecture firm to deliver true, value-based engineering solutions to meet any design challenge, through skilled planning and tested experience.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://images.unsplash.com/photo-1617662408044-cda3ab7134c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fG1lbnMlMjBmYXNoaW9ufGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="Rupesh" style="width:100%">
      <h3>Rupesh</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p>If you don't build your Dreams, someone will hire you to build their Dreams</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://i.pinimg.com/originals/f0/11/a1/f011a11fc4263f34c63e3a72c2f9643e.jpg" alt="Sweety" style="width:100%">
      <h3>Sweety</h3>
      <p class="w3-opacity">Architect</p>
      <p>Every morning we are born again. What we do today is what matters most</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://i.pinimg.com/736x/d2/67/49/d26749958beef3c72aebfa6be329dbe7.jpg" alt="Shilpa" style="width:100%">
      <h3>Shilpa</h3>
      <p class="w3-opacity">Architect</p>
      <p>Some of the most beautiful things we have in life come from our mistakes.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://i.pinimg.com/originals/c8/a1/d7/c8a1d7eb3e3a071893f5bf843ccae49b.jpg" alt="Sudheer" style="width:100%">
      <h3>Sudheer</h3>
      <p class="w3-opacity">Architect</p>
      <p>You can’t cross the sea merely by standing and staring at the water.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- Image of location/map -->
<div class="w3-container">
  <img src="https://i.pinimg.com/736x/0e/0e/3d/0e0e3d7fb6447034784e97cce7fdfce1.jpg" class="w3-image" style="width:100%">
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
 
</footer>

</body>
</html>
